*{
    border-radius:7px;
}
.error{
    background: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14pt;
}
table{
    margin: auto;
    text-align: center;
    border-collapse: separate;
    table-layout: auto;
    background: inherit;
}
body{
    background: #7309aa;
}
th{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14pt;
}
.slot{
    padding: 25px 25px;
}
.page{
    width: 100%;
    margin: auto;
}
.header{
    width: 100%;
    table-layout: fixed;
    margin: auto;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 24pt;
    background: #8eeb00;
    border-radius:30px;
    text-align: center;
}
#pointsTable {
    border-spacing: 25px;
}
.interactive_part {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20pt;
    text-decoration-color: black;
}
.input_part {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20pt;
    text-decoration-color: inherit;
    padding: 25px 25px;
    background: #ffcf00;
    border-radius:30px;
}
.r_button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14pt;
    text-decoration-color: black;
}
.selected {
    color: red;
    transform: scale(1.2);
}
.r_button:hover, .checkbox:hover{
    color: blue;
    transform: scale(1.2);
}